@{
    ViewBag.Title = "Kontakt";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>



<address>
    <strong>Support:</strong>   <a href="mailto:ndzindo1@etf.unsa.ba">ndzindo1@etf.unsa.ba</a><br />
    <strong>Support:</strong>   <a href="mailto:mdelic3@etf.unsa.ba">mdelic3@etf.unsa.ba</a><br />
    <strong>Support:</strong>   <a href="mailto:vherceglija1@etf.unsa.ba">vherceglija1@etf.unsa.ba</a><br />
</address>